* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

.nav {
  height: 72px;
  background-color: #f80032;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav__seach .seach {
  width: 760px;
  height: 40px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 10px 15px 0px;
  border-radius: 8px;
  color: #666666;
  text-align: start;
  font-size: 18px;
  padding-left: 15px;
}

body {
  background-color: #f1f1f1;
}

span {
  color: red;
}

.container {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.menu__conta {
  background-color: #ffffff;
  width: 328px;
  height: 95px;
  border-radius: 16px;
  margin-bottom: 15px;
}
.menu__opcoes .menu__opcao {
  background-color: #ffffff;
  width: 328px;
  height: 72px;
  border-radius: 16px;
  margin-bottom: 8px;
}

.menu__cep {
  background-color: #ffffff;
  width: 928px;
  height: 927px;
  border-radius: 16px;
  display: grid;
  grid-template-columns: 1fr;
}