* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

ol, ul {
  list-style: none;
}

.nav {
  height: 72px;
  background-color: #f80032;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav__seach {
  display: grid;
  width: 760px;
  grid-auto-flow: column;
  grid-template-columns: 1fr;
  grid-auto-columns: max-content;
  cursor: text;
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 10px 15px;
  height: 40px;
  position: relative;
  z-index: 6;
}
.nav__seach .seach {
  grid-column: 1/auto;
  display: inline-block;
  color: rgb(102, 102, 102);
  width: 100%;
  border: unset;
  outline: none;
  padding: 1rem 0px 1rem 1rem;
  font-size: 1rem;
  background-color: white;
  border-radius: 8px;
  height: 40px;
}
.nav__seach .button {
  grid-column: 3/auto;
  --theme-color: #F80032;
  border: unset;
  background-color: unset;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  overflow: hidden;
  width: 52.8px;
  transition: filter 100ms ease-in 0s;
}

body {
  background-color: #f1f1f1;
}

span {
  color: #fc0d1b;
}
span.link {
  cursor: pointer;
  padding-top: 23px;
}

.hide {
  display: none !important;
}

[data-display] {
  display: none !important;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 24px auto 54px;
  display: flex;
  flex: 1 1;
  flex-direction: row;
  min-height: 500px;
}

.menu {
  align-items: center;
  max-width: 325px;
}
.menu__voltar {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 64px;
  line-height: 18px;
  color: rgb(248, 0, 50);
  font-size: 16px;
  padding-top: 1rem;
  margin: 0px 0px 2rem 1rem;
  cursor: pointer;
}
.menu__conta {
  background-color: #ffffff;
  height: 95px;
  border-radius: 16px;
  margin-bottom: 15px;
  position: relative;
}
.menu__conta img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 89%;
}
.menu__opcoes .menu__opcao {
  background-color: #ffffff;
  min-height: 75px;
  border-radius: 16px;
  display: flex;
  margin: 8px 0px;
  padding: 10px 0px;
  cursor: pointer;
}
.menu__opcoes .menu__opcao a {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  border-left: none;
  padding-left: 3px;
  gap: 8px;
  text-decoration: none;
}
.menu__opcoes .menu__opcao a img {
  height: 27px;
  width: 27px;
  margin: 4px;
}
.menu__opcoes .menu__opcao a div {
  width: 250px;
}
.menu__opcoes .menu__opcao a div span {
  font-size: 16px;
  color: #333333;
}
.menu__opcoes .menu__opcao a div p {
  font-size: 14px;
  color: #999999;
}
.menu__opcoes .menu__opcao a [alt^=seta] {
  width: 7px;
  height: 12px;
}

.menu__cep {
  margin-top: 0px;
  margin-left: 24px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
  padding: 32px;
}
.menu__cep h2 {
  font-size: 24px;
  color: #666666;
  margin-bottom: 6px;
}
.menu__cep p {
  color: #333333;
  font-size: 12px;
}
.menu__cep .form {
  display: flex;
  flex-direction: column;
}
.menu__cep .form label {
  color: #666666;
  font-size: 16px;
}
.menu__cep .form input {
  height: 48px;
  border-radius: 8px;
  border: 1px solid rgb(153, 153, 153);
  font-size: 1rem;
  margin-top: 8px;
  padding: 16px 15px;
  box-sizing: border-box;
}
.menu__cep .form__geral {
  max-width: 400px;
  margin-top: 26px;
  display: flex;
  flex-direction: column;
}
.menu__cep .form__cep__inside {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  position: relative;
}
.menu__cep .form__cep__inside #cep {
  width: 220px;
}
.menu__cep .form__cep__inside .lupa {
  position: absolute;
  top: 24px;
  left: 189px;
}
.menu__cep .form #endereco {
  background-color: rgb(241, 241, 241);
  cursor: not-allowed;
}
.menu__cep .form a {
  display: inline-block;
  text-decoration: none;
  color: #fc0d1b;
  font-size: 16px;
}
.menu__cep .form button {
  width: 220px;
  height: 48px;
  border-radius: 8px;
  background-color: #fc0d1b;
  font-size: 16px;
  color: #ffffff;
  border: 0px;
  font-weight: bold;
}
.menu__cep .form button[disabled] {
  background-color: #999999;
}
.menu__cep .form__numero {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 24px;
  margin-top: 24px;
}
.menu__cep .form__numero .form__caixa {
  display: flex;
  flex-direction: column;
}
.menu__cep .form__numero .form__caixa #numero {
  width: 98px;
}
.menu__cep .form #bairro {
  background-color: rgb(241, 241, 241);
  cursor: not-allowed;
}
.menu__cep .form #cidade {
  background-color: rgb(241, 241, 241);
  cursor: not-allowed;
}
.menu__cep .form #estado {
  background-color: rgb(241, 241, 241);
  cursor: not-allowed;
}
.menu__cep .form__toggle {
  display: flex;
  justify-content: space-between;
  width: 238px;
  flex-direction: row;
}
.menu__cep .form__toggle span {
  color: #666666;
}
.menu__cep .form #bntsave {
  margin-top: 20px;
}

.form__cep__loader {
  width: 3.25em;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
}
.form__cep__loader circle {
  fill: none;
  stroke: #fc0d1b;
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dashoffset: -125px;
  }
}
.cl-toggle-switch {
  position: relative;
}

.cl-switch {
  position: relative;
  display: inline-block;
}

/* Input */
.cl-switch > input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: -1;
  position: absolute;
  right: 6px;
  top: -8px;
  display: block;
  margin: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.38);
  outline: none;
  opacity: 0;
  transform: scale(1);
  pointer-events: none;
  transition: opacity 0.3s 0.1s, transform 0.2s 0.1s;
}

/* Track */
.cl-switch > span::before {
  content: "";
  float: right;
  display: inline-block;
  margin: 5px 0 5px 10px;
  border-radius: 7px;
  width: 36px;
  height: 14px;
  background-color: rgba(0, 0, 0, 0.38);
  vertical-align: top;
  transition: background-color 0.2s, opacity 0.2s;
}

/* Thumb */
.cl-switch > span::after {
  content: "";
  position: absolute;
  top: 2px;
  right: 16px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #fff;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: background-color 0.2s, transform 0.2s;
}

/* Checked */
.cl-switch > input:checked {
  right: -10px;
  background-color: rgba(248, 0, 50, 0.38);
}

.cl-switch > input:checked + span::before {
  background-color: rgba(248, 0, 50, 0.38);
}

.cl-switch > input:checked + span::after {
  background-color: #f80032;
  transform: translateX(16px);
}

/* Hover, Focus */
.cl-switch:hover > input {
  opacity: 0.04;
}

.cl-switch > input:focus {
  opacity: 0.12;
}

.cl-switch:hover > input:focus {
  opacity: 0.16;
}

/* Active */
.cl-switch > input:active {
  opacity: 1;
  transform: scale(0);
  transition: transform 0s, opacity 0s;
}

.cl-switch > input:active + span::before {
  background-color: rgba(102, 102, 102, 0.38);
}

.cl-switch > input:checked:active + span::before {
  background-color: rgba(102, 102, 102, 0.38);
}

/* Disabled */
.cl-switch > input:disabled {
  opacity: 0;
}

.cl-switch > input:disabled + span::before {
  background-color: #333333;
}

.cl-switch > input:checked:disabled + span::before {
  background-color: #bfdbda;
}

.cl-switch > input:checked:disabled + span::after {
  background-color: #61b5b4;
}