body {
    background-color: #f1f1f1;
}

span {
    color: #fc0d1b;
    &.link{
        cursor: pointer;
    }
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 24px auto 54px;
    display: flex;
    flex: 1 1;
    flex-direction: row;
    min-height: 500px;
}

.menu {
    align-items: center;

    &__voltar {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: space-between;
        width: 64px;
        line-height: 18px;
        color: rgb(248, 0, 50);
        font-size: 16px;
        padding-top: 1rem;
        margin: 0px 0px 2rem 1rem;
        cursor: pointer;
    }

    &__conta {
        background-color: #ffffff;
        height: 95px;
        border-radius: 16px;
        margin-bottom: 15px;
        position: relative;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 81%;
        }
    }
    &__opcoes {
        & .menu__opcao {
            background-color: #ffffff;
            min-height: 72px;
            border-radius: 16px;
            display: flex;
            margin: 8px 0px;
            padding: 10px 0px;
            cursor: pointer;

                & a {
                    display: flex;
                    flex-direction: row;
                    -webkit-box-align: center;
                    align-items: center;
                    -webkit-box-pack: justify;
                    justify-content: space-around;
                    border-left: none;
                    padding-left: 3px;
                    gap: 10px;
                    text-decoration: none;

                    img {
                        height: 27px;
                        width: 27px;
                        margin: 4px;
                    }

                    div {
                        span {
                            font-size: 16px;
                            color: #333333;
                        }
                        p {
                            font-size: 14px;
                            color: #999999;
                        }
                    }


                    [alt^="seta"] {
                        width: 7px;
                        height: 12px;
                    }
                }
            

        }

    }
}

.menu__cep {
    margin-top: 0px;
    margin-left: 24px;
    width: 87%;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    padding: 32px;
    h2 {
        font-size: 24px;
        color: #666666;
        margin-bottom: 6px;
    }
    p {
        color: #333333;
        font-size: 12px;
    }
    .form {
        display: flex;
        flex-direction: column;
        /* gap: 24px; */

        label {
            color: #666666;
            font-size: 16px;
        }

        input {
            height: 48px;
            border-radius: 8px;
            border: 1px solid rgb(153, 153, 153);
            font-size: 1rem;
            margin-top: 10px;
            padding: 16px 15px;
            box-sizing: border-box;
        }
        #destinatario{
            width: 330px;
        }

        #cep {
            width: 165px;
        }
        #endereco {
            width: 330px;
            background-color: rgb(241, 241, 241);
        }
        a {
            display: inline-block;
            text-decoration: none;
            color: #fc0d1b;
            font-size: 16px;
        }
        button {
            width: 220px;
            height: 48px;
            border-radius: 8px;
            background-color: #f80032;
            font-size: 16px;
            color: #ffffff;
            border: 0px;
            font-weight: bold;
        }
        &__numero {
            display: grid;
            grid-template-columns: 1fr 2fr;
            align-items: center;
            gap: 24px;
            margin-top: 24px;
            .form__caixa{
                display: flex;
                flex-direction: column;
                gap: 15px;
            }
        }

        #bairro {
            width: 330px;
            background-color: rgb(241, 241, 241);
            cursor: not-allowed
        }

        #cidade {
            width: 240px;
            background-color: rgb(241, 241, 241);
        }

        #estado {
            width: 240px;
            background-color: rgb(241, 241, 241);
        }

        &__toggle {
            display: flex;
            justify-content: space-between;
            width: 238px;
            span {
                color: #666666;
            }
        }
    }
}